:root {
  --flex-dir: column;
  --flex-dis: flex;
  --font-f: Praise;
  --align-c: center;
  --size-toOne: 1em;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: var(--flex-dis);
  flex-direction: var(--flex-dir);
  font-family: var(--font-f), cursive;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  align-self: var(--align-c);
}

#container {
  width: 500px;
  height: 500px;
  border: 50px solid rgb(173, 61, 61);
  border-radius: 8px;

  display: var(--flex-dis);
  flex-direction: var(--flex-dir);
  align-self: var(--align-c);
  flex-wrap: wrap;
}

.gridRow {
  display: var(--flex-dis);
  flex: 1;
}

.cell {
  border: 1px solid #eee;
  display: inline-block;
  flex: 1;
}

.btn {
  align-self: var(--align-c);
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 0.5em;
}
