:root {
  --flex-dir: column;
  --flex-dis: flex;
  --font-f: Praise;
  --align-c: center;
  --size-toOne: 1em;
  --burgundy: rgb(174, 62, 62);
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: var(--flex-dis);
  flex-direction: var(--flex-dir);
  /* font-family: var(--font-f), cursive; */
  font-family: 'Estonia', cursive;
  margin: 0 auto;
  background-color: #eee;
}

h1 {
  font-size: 5em;
  align-self: var(--align-c);
}

#container {
  width: 600px;
  height: 600px;
  border: 80px solid var(--burgundy);
  border-radius: 8px;

  display: var(--flex-dis);
  flex-direction: var(--flex-dir);
  align-self: var(--align-c);
  /* flex-wrap: wrap; */
}

.gridRow {
  display: var(--flex-dis);
  flex: 1;
}

.cell {
  border: 1px solid #d3d3d3;
  display: inline-block;
  flex: 1;
}

.slide-container {
  display: var(--flex-dis);
  justify-content: var(--align-c);
}

p {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--burgundy);

  margin: 12px 0 10px 20px;
  padding: 5px 10px;
}

.btn-container {
  display: var(--flex-dis);
  justify-content: var(--align-c);
  align-content: var(--align-c);
  align-items: var(--align-c);
}

#slider-input {
  width: 10em;
  align-self: var(--align-c);
  text-align: var(--align-c);
  margin: 10px;
  cursor: pointer;
}

#display-grid-size {
  margin: 10px;
  font-size: 30px;
}

.btn {
  font-family: Helvetica, sans-serif;
  background: var(--burgundy);
  border-radius: 999px;
  box-shadow: var(--burgundy) 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px 10px;

  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.btn:hover {
  opacity: 0.8;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--burgundy);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--burgundy);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
